* {
  margin: 0;
  box-sizing: border-box;
}

.main-screen{
  display: flex;
  flex-wrap: wrap;
  // justify-content: safe;
  flex-direction: row;
  flex: 1;
}

.center-screen {
  width: 500px;
  background-color: pink;
}
