
@use "@material/card";

@include card.core-styles;

.my-card-content {
  padding: 16px;
}
.main-container{
  display: flex;
  flex-direction: column;
  // flex-direction: column;
}

.personal-info{
  display: flex;
  height: 130px;
}