@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


/* notes

---centering something---
display: flex;
  justify-content: center;
  align-items: center;



--- neechay ya uper se qareeb krna ho tou---
.check-btn {
  position: relative;
  bottom: 3em;
}
*/


* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(250, 176, 227);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Josefin Sans', cursive;
}

.cover {
  background-image: linear-gradient(rgba(178, 209, 233, 1), rgba(178, 209, 233, 0));
  width: 50%;
  height: 620px;
  position: relative;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  color: rgb(3, 45, 77);
}

.user-input {
  
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  width: 80%;
  height: 10%;
  flex-wrap: wrap;
  /* background-color: green; */
}
input[type=text]{
  background-color: rgba(0,0,0,0);
  border-color: rgb(6, 106, 183);
  border-radius: 8px 8px 8px 8px;
  border-width: 10%;
  border-style: solid;
  display: flex;
  /* flex: 1 1 200; */
  justify-content: space-evenly;
  /* outline-color: rgb(6, 106, 183); */
  height: 44px;
  width: 240px;
  /* bottom: -1.5em; */
}


input[type=password]{
  background-color: rgba(0,0,0,0); 
  border-color: rgb(6, 106, 183);
  border-radius: 8px 8px 8px 8px;
  border-width: 10%;
  border-style: solid;
  display: flex;
  /* flex: 1 1 200; */
  justify-content: space-evenly;
  margin: 10px;
  /* outline-color: rgb(6, 106, 183); */
  height: 44px;
  width: 240px;
  /* position: relative;
  top: -1.5em; */
}
.line{
  text-decoration: underline;
  color: black;
}

.login-btn {
  width: 28%;
  height: 3em;
  background-color: rgb(3, 58, 101);
  color: rgb(243, 243, 243);
  display: flex;
  flex: 1 1 200;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: rgb(3, 58, 101);
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
}
.login-btn:hover {
  transform: scale(1.15);
}

/* .check-btn {
  position: relative;
  bottom: 2em;
} */

.check-btn input {
  display:inline-block;
  margin-right:10px;
}
.check-btn p {
  display:inline-block;
}



/* use state */
.hide {
  display: none;
}

.login-popup {
  position: absolute;
  width: 40em;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  outline-color: rgb(3, 58, 101);
  background-color: rgba(0,0,0,0);
  backdrop-filter: blur(5px);
  /* color: rgb(3, 58, 101); */
  bottom: 0;
  transform: scale(1);
  transform: 1.5s;
}