@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


/* notes

---centering something---
display: flex;
  justify-content: center;
  align-items: center;



--- neechay ya uper se qareeb krna ho tou---
.check-btn {
  position: relative;
  bottom: 3em;
}
*/


* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(250, 176, 227);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', cursive;
}

.cover {
  background-image: linear-gradient(rgba(178, 209, 233, 1), rgba(178, 209, 233, 0));
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 0.5em;
  /* box-shadow: 0 0.188em 1.5em rgb(156, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: space-around;

}

input[type=text]{
  background-color: rgba(0,0,0,0);
  border-color: rgb(6, 106, 183);
  border-radius: 8px 8px 8px 8px;
  border-width: 0.25em;
  border-style: solid;
  /* outline-color: rgb(6, 106, 183); */
  height: 3em;
  width: 50%;
  position: relative;
  bottom: -3em;
}


input[type=password]{
  background-color: rgba(0,0,0,0); 
  border-color: rgb(6, 106, 183);
  border-radius: 8px 8px 8px 8px;
  border-width: 0.25em;
  border-style: solid;
  /* outline-color: rgb(6, 106, 183); */
  height: 3em;
  width: 50%;
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(3, 58, 101);
  color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: rgb(3, 58, 101);
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
}
.login-btn:hover {
  transform: scale(1.15);
}

.check-btn {
  position: relative;
  bottom: 3em;
}

.check-btn input {
  display:inline-block;
  margin-right:10px;
}
.check-btn p {
  display:inline-block;
}

.logo-ipsum {


  /* Logo */
  
  width: 350px;
  height: 76px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  
  /* Vector */
  
  position: absolute;
  left: 1.44%;
  right: 80.58%;
  top: 5.23%;
  bottom: 19.07%;
  
  /* Foundation /Secondary/secondary-600 */
  background: #DA0095;
  
  
  /* Vector */
  
  position: absolute;
  left: 3.2%;
  right: 78.43%;
  top: 6.5%;
  bottom: 5.4%;
  
  /* Foundation /Primary/primary-200 */
  background: #8CBADE;
  
  
  /* Vector */
  
  position: absolute;
  left: 3.62%;
  right: 80.61%;
  top: 11.37%;
  bottom: 19.53%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 55.22%;
  right: 42.12%;
  top: 18.33%;
  bottom: 32.47%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 59.29%;
  right: 32.76%;
  top: 32.58%;
  bottom: 18.87%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 67.83%;
  right: 25.93%;
  top: 32.58%;
  bottom: 31.46%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 75.08%;
  right: 17.83%;
  top: 33.55%;
  bottom: 31.49%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 83.79%;
  right: 5.12%;
  top: 32.56%;
  bottom: 32.47%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 95.11%;
  right: 1.6%;
  top: 18.21%;
  bottom: 66.66%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
  
  
  /* Vector */
  
  position: absolute;
  left: 24.97%;
  right: 45.81%;
  top: 17.92%;
  bottom: 17.88%;
  
  /* Foundation /Primary/primary-800 */
  background: #033A65;
}
