@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


/* notes

---centering something---
display: flex;
  justify-content: center;
  align-items: center;

*/


* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', cursive;
}

.cover {
  background-color: white;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.5em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: space-around;

}

input[type=text]{
  border-color: rgb(6, 106, 183);
  border-radius: 10px 10px 10px 10px;
  border-width: 0.35em;
  border-style: solid;
  /* outline-color: rgb(6, 106, 183); */
  height: 4em;
  width: 50%;
}


input[type=password]{
  border-color: rgb(6, 106, 183);
  border-radius: 10px 10px 10px 10px;
  border-width: 0.35em;
  border-style: solid;
  /* outline-color: rgb(6, 106, 183); */
  height: 4em;
  width: 80%;
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(3, 58, 101);
  color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: rgb(3, 58, 101);
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
}
.login-btn:hover {
  transform: scale(1.15);
}

.check-btn {
  position: relative;
  bottom: 3em;
}

.check-btn input {
  display:inline-block;
  margin-right:10px;
}
.check-btn p {
  display:inline-block;
}