
$Background-color: #3AA6B9;
$Button-border-color: #c1dad4;
// $hover-color:

* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 15%;
  height: 100%;
  background-color: $Background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.btn {
  background-color: transparent;
  width: 94%;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  border: 3px solid $Button-border-color;
  margin: 4px; 
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: inset 17em 0 0 0 pink;
  transition: 0.5s;
}


