* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 15%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.btn {
  background-color: aquamarine;
  width: 94%;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  border: 3px solid blue;
  margin: 4px; 
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.btn:focus {
  background-color: pink;
  transform: rotateX('24');
  transition: 0.5s;
}