* {
  margin: 0;
  box-sizing: border-box;
}

.navbar-boundry {
  width: 10%;
  height: fit-content;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  
}