
$Background-color: #D0E8E1;
$Button-border-color: #c1dad4;
$Button-hover-color: #368775;

// $hover-color:

* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 15%;
  height: 100%;
  background-color: $Background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.btn {
  background-color: transparent;
  color: $Button-hover-color;
  width: 94%;
  text-align: center;
  text-size-adjust: 20px;
  border-radius: 0px 20px 20px 0px;
  border: 3px solid $Button-border-color;
  margin: 4px; 
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: inset 17em 0 0 0 $Button-hover-color;
  transition: 0.5s;
  color: $Background-color;
}


