
$Background: #D0E8E1;

* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 15%;
  height: 100%;
  background-color: $Background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.btn {
  background-color: aquamarine;
  width: 94%;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  border: 3px solid blue;
  margin: 4px; 
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: inset 17em 0 0 0 pink;
  transition: 0.5s;
}


