* {
  margin: 0;
  box-sizing: border-box;
}

.navbar-boundry {
  width: 223px;
  height: 836px;
  background-color: green;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.btn {
  width: 80%;
}

.btn button {
  background-color: blue;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 20% 20%;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
  justify-content: space-evenly;
  margin: 2px;
  
}